<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="w3-panel">
        <div class="w3-row">
            <a href="/test">Test</a>
        </div>
        <div class="w3-row">
            <table class="w3-table-all">
                <caption>Titanic dataset</caption>
                <tr>
                    {% for d in df %}
                    <th>{{d}}</th>
                    {% endfor %}
                </tr>
                {% for i in range(25)%}
                <tr>
                    {% for d in df %}
                    <td>{{df[d][i]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>